extends layout

block content
  h2 Hi, I'm just a little app.
  p Let's pull up funny Instagram photos by tags! As you type, the photo stream will update in real time. For example, try typing in 
  span.label.label-info hackerschool
  | , or typing in
  span.label.label-info catfish
  | , but wait a bit after typing in  
  span.label.label-info cat
  |  before typing in 
  span.label.label-info fish
  . 
  h2 Enjoy!  
    