extends layout

block content
  h2 Hi, I'm just a little app.
  p Finding cool folks to follow on Instagram is too much work. What if you could just pull up any funny Instagram photos you like by tags? Now you can! Just type in a tag name and the photo stream will update. For example, try  
  span.label.label-info hackerschool
  | , 
  span.label.label-info lolcat
  | , or 
  span.label.label-info cupcake
  . 
  h2 Enjoy!  
