extend layout

block content
  h3 Instafun is a node-express-bootstrap application built for the author to understand Backbone.js. Thanks for visiting! You may find me on github at 
    a(href='http://www.github.com/janewang') github.com/janewang
    .